
/*Style CSS Content */
body{
    font-family: 'Montserrat', 'sans-serif' !important;
}

/*Contact Us Section*/

.contact-us-img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.reach-out-contact > input,
.reach-out-contact > textarea {
    width: 50%;
}

/*LANDING PAGE*/
/*Hero Section*/
.hero-nonprofit{
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
}

@media (max-width: 678px) {
    .hero-nonprofit{
        height: 1000px;
    }
}

@media (max-width: 528px) {
    .hero-nonprofit{
        height: 1200px;
    }
}

.current-project-descrip{
    background-color: #F2F2F2;
}
/*.current-project-img{*/
/*    width: 100%;*/
/*    height: 600px;*/
/*}*/

.about-story-section{
    background-color: #F2F2F2;
}

.storytelling-section{
    background-image: url("../images/body-background-img.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 678px){
    .p, h1{
        width: 75%;
    }

}

.break-point-img{
    background-image: url("../images/tough.png");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*ABOUT PAGE*/
/*Hero Section*/
.hero-about-nonprofit{
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

/*Carousel Section*/

.carousel-section > .carousel-inner > .carousel-item > img{
    width: 100%;
    height: 660px;
    justify-content: center;
    align-items: center;
}

/*CONTACT US PAGE*/
.break-point-contact-img{
    background-image: url("../images/tough.png");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.break-point-project-img{
    background-image: url("../images/breakpoint-img-project.png");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
